.disconnected-panel {
  margin-top: 100px;
}

.header-balance {
  margin-left: 150px;
}

.header-account-balance {
  margin-left: 15px;
}

.panel-header {
  margin-bottom: 20px;
}

.proposal-votes {
  margin-right: 10px;
}

.proposal-vote-link {
 margin-left: 10px;
}

.proposal-footer {
  margin-top: 15px;
  position: relative;
}

.proposal-footer-finish-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.authorize-btn {
  margin-top: 15px;
}

.account-address_active {
  font-weight: bold;
}

.account-balance_active {
  font-weight: bold;
}
